.main{
    padding:0px 60px 40px 60px;
    background-image:url('../../assests/slider-bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .section1{
    line-height: 60px;
    flex:0 50%;

} 
.main .section1 h2{
    color:#39a583;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
}
.main .section1 div{
    line-height: 40px;
}
.main .section2{
    flex:0 40%;
}
.main .section2 img{
    width: 400px;
}
.main .section1 .button_{
    background-color: #39a583;
    border:1px solid #39a583;
    transition: all 0.5s ease;
    padding: 10px;
    border-radius: 40px;
}
.main .section1 .button_:hover{
    /* letter-spacing: 1px; */
    margin-top: -10px;

}
.main .section2 img{
    animation:topBounce 4s ease-in-out infinite;
}
@keyframes topBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}

.section3 span{
    font-size: 25px;
}
.section3 p{
    margin-top: 20px;
    font-size: 20px;
}
.section1 h2::after{
    content: "";
    display: block;
    background-color: #39a583;
    width: 400px;
    height: 5px;
    border-radius: 10px;
    margin-top: 10px;
}
.bttn{
    position: fixed;
    right:15px;
    z-index:22;
    background-color: #39a583;
    border: 1px solid #39a583;
    font-size: 20px;
    transition: all 0.5s ease;
}
.bttn:hover{

    background-color: #fff;
    border: 1px solid #fff;
    color: #39a583;

}

@media(max-width:840px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0px 0px 0px;
        height:150vh;
    }
    .main .section1{
        flex:0 100%;
        line-height: 20px;
        text-align: center;
        margin-top: 100px;
    }
    .main .section1 div{
        line-height: 30px;
        text-align: center;
    }
    .main .section1 h2{
        text-align: center;
    }
    .section1 h2::after{
        margin:10px  auto 10px auto;
    }
    .section3 span{
        text-align: center;
    }
    .main .section1 Button{
        display:block;
        margin: 5px auto;
    }
    .main .section2 img{
        width: 300px;
        margin-bottom: 80px;
    }
    .section3 p{
        margin-top: 0px;
        font-size: 16px;
    }
    
}


@media(max-width:630px){
    .main .section1 h2{
        color:#39a583;
        font-size: 35px;
        font-weight: 800;
        letter-spacing: 1px;
    }

    .section1 h2::after{
        content: "";
        display: block;
        background-color: #39a583;
        width: 200px;
        height: 5px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .section3 span{
        font-size: 18px;
    }
}