.about{
    padding: 60px;
    margin: 0px auto;
    background-color: #0d182e;
    overflow-x:hidden;
}
.about_{
    display:flex;
    align-items:center;
    justify-content:center;
}
.about_ .section1{
    flex:0 40%;
}
.about_ .section1 img{
    animation:topBounce 4s ease-in-out infinite;
}
.about_ .section2{
    flex:0 50%;
    position: relative;
}
.about_ .section2::before{
    content: "";
    display: block;
    background-color: #39a583;
    height: 400px;
    width: 5px;
    position: absolute;
    left: -20px;
    border-radius: 10px;
}
.section2 .paragraph{
    font-size: 20px;
    font-weight: 800;
}
.about_ .section2 h2{
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform:uppercase;
}
.about_ .section2 p{
    font-size: 18px;
    line-height: 30px;
}
.about_ .section2 h2:after{
    content: " _ _ _ _";
    font-size: 30px;
    /* display: block; */
    color: #39a583;
}

/*====== Responsive ========*/

@media(max-width:1000px){
    .about{
        padding:60px 30px;
    }
    .about_{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .about_ .section2{
        text-align:center;
        margin:auto;
    }

    .about_ .section1{
        display:none;
    }
    .about_ .section2::before{
        display:none;
    }
    .about_ .section2 h2{
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 1px;
    }
   
    .about_ .section2 h2:after{
        content: "";
        display: block;
        background-color: #39a583;
        width:100px;
        height:5px;
        margin:5px auto 10px auto;
        border-radius:10px;
    }
 
}

@media(max-width:640px){
    .about_ .section2 p{
        font-size: 16px;
        line-height: 30px;
    }
    .section2 .paragraph{
        font-size: 18px;
        font-weight: 600;
    }
    .section_2 img{
        width:400px;
        margin:auto;
    }
    .section_2 p{
        font-size: 20px;
        font-weight: 600;
        width:400px;
        margin:auto;
    }
}
@media(max-width:500px){
    .about_ .section2 h2{
        color:#fff;
        font-size: 30px;
        letter-spacing: 0px;
        font-weight: 700;
        margin-bottom: 10px;
        position: relative;
    }
}